body {
    overflow-x: hidden;
    justify-content: center;
    text-align: center;
}

html {
    min-height: 100vh;
    background: linear-gradient(154deg, var(--light), var(--undergrowth));
}

.container {
    text-align: center;
    padding: 0 1rem;
}

.width-limit {
    max-width: 70ch;
    margin-left: auto;
    margin-right: auto;
}

.large-width-limit {
    max-width: 90ch;
    margin-left: auto;
    margin-right: auto;
}

.margin-vertical-align img {
    margin-left: auto;
    margin-right: auto;
}

.round-image img {
    border-radius: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.image-border img {
    border: solid .5rem var(--flower-dark);
    border-image-slice: 1;
}

h2 {
    text-decoration-line: underline;
}

.title-ceramic-tile {
    fill: var(--black);
    stroke: var(--undergrowth);
    stroke-width: .15;
}

header {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer-overgrowth {
    width: 102%;
    margin-left: -1%;
    fill: var(--wood);
    stroke: var(--undergrowth);
    stroke-width: .2;
}

.list-grid ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    text-align: left;
    list-style: none;
}

@font-face {
    font-family: "Comfortaa";
    src: url("fonts/Comfortaa-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Faustina";
    src: url("fonts/Faustina-VariableFont_wght.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6,
.header-font {
    font-family: "Comfortaa", "system-ui", "sans-serrif";
}

body {
    font-family: "Faustina", "serrif";
}

.join-in-clickable {
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--flower);
    border-radius: 1rem;
    border: solid var(--wood);
    font-weight: 800;
}

@media screen and (min-width: 600px) {
    .join-in-clickable {
        font-size: 150%;
    }
}

.join-in-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: .2rem;
}

.grid {
    display: grid;
}

.grid-center {
    align-items: center;
    justify-items: center;
}

.flip {
    transform: scaleX(-1);
}

.w100 {
    width: 100%
}

.grow {
    transition: all;
    transition-duration: 2s;
}

.grow:hover,
.grow:focus {
    animation-duration: 1s;
    animation-name: hover-button;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes hover-button {
    0% {
        box-shadow: 2px 2px 2px 1px var(--flower-dark);
    }

    10% {
        box-shadow: none;
    }

    100% {
        box-shadow: blue 0px 0px 0px 2px inset, var(--flower) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, var(--flower) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, var(--flower) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, var(--flower) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
    }
}